	body {
		background-color: rgba(75,75,255,1);
	}

	#about {
		color: rgba(75,75,255,1);
	}

	#headshot {
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(20, 1fr);
		max-width: 100%;
		align-self: center;
	}

	#bio {
		font-family: 'Source Sans Pro', sans-serif; 
		font-style: italic;
		max-width: 600px;
		padding: 0px 5%;
	}

	#links a {
		margin: 0px 5px;
		color: white;
	}


/*******************************************************************/

/* * * Mobile-Specific Styles * * */

	@media screen and (max-width: 670px) {

		#photo img {
			border-bottom: 4px solid black;
		}

		#photo {
			grid-column: 1 / 21;
			grid-row: 1 / 21;
		}

		#text {
			margin-top: 5%;
		}
		
	}


/* * * Desktop-Specific Styles * * */

	@media screen and (min-width: 671px) {

		.canvas {
			height: calc(100vh - 90px);
		}

		#bio {
			display: table;
			height: calc(100vh - 90px);
		}

		#inner_bio {
			display: table-cell;
			vertical-align: middle;
		}

		#links {
			margin-bottom: 0vh;
		}

		#photo {
			grid-column: 3 / 19;
			grid-row: 3 / 19;
		}

	}