/* * *Universal Variables * * */

	:root{
		--main-colour: blue;
		--border-TB: 45px;
		--border-LR: 15px;

		--logo-width: 30px;
		--logo-height: 35px;

		--nav-width: calc(100% - var(--border-LR) * 4);
		--nav-height: calc(100% - var(--border-TB) / 4);

		--test-nudge: 2px;
	}



/* * * Universal Styles * * */

	body {
		margin: var(--test-nudge);
	}

	/* Frame */
	#top-border, #bottom-border, #left-border, #right-border {
		background-color: white;
		position: fixed;
		z-index: 1;
	}

	#top-border, #bottom-border {
		display: grid;
		align-items: center;
		justify-items: center;
		left: 0; 
		right: 0;
		height: var(--border-TB);
	}
	#top-border {
		grid-template-columns: 1fr;
		top: 0; 
	}
	#bottom-border {
		grid-template-columns: repeat(4, 1fr); 
		bottom: 0; 
	}

	#left-border, #right-border {
		top: 0; 
		bottom: 0;
		width: var(--border-LR);
	}
	#left-border { left: 0; }
	#right-border { right: 0; }

	#work {
		grid-column: 2;
	}

	#about {
		grid-column: 3;
	}


	/* Within the Frame */
	#canvas {
		background-color: green;
		position: relative;
		display: grid;

		top: var(--border-TB);
		left: var(--border-LR);
		margin-bottom: calc(var(--border-TB) + var(--test-nudge));
		width: calc(100% - var(--border-LR) * 2);
	}

	.project {
		display: grid;
		grid-template-columns: repeat(40, 1fr);
		grid-template-rows: repeat(40, 1fr);
		border: 2px solid yellow;
	}

	.title {
		grid-column: 14 / 30;
		grid-row: 2 / 4;
	}

	.year {
		grid-column: 19 / 30;
		grid-row: 38 / 40;
	}

	.thumbnail {
		width: 100%;
		grid-column: 3 / 39;
		grid-row: 3 / 39;

	}


/* * * Mobile Specific Styles * * */

	@media screen and (max-width: 900px) {
		body {
			background-color: var(--main-colour);
		}

		#canvas {
			grid-template-columns: repeat(2, 1fr);
		}	
	}


/* * * Desktop Specific Styles * * */

	@media screen and (min-width: 901px) {
		body {
			background-color: red;
		}

		#canvas {
			grid-template-columns: repeat(3, 1fr);
		}

	}