/* * *Universal Variables * * */
	@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,600i');

	@font-face {
		font-family: 'COUTUREBold';
		src: url(../font/couture-bld.otf);
	}

	:root{
		--border-TB: 45px;
		--border-LR: 15px;

		--logo-height: 30px;

		--nav-width: calc(100% - var(--border-LR) * 4);
		--nav-height: calc(100% - var(--border-TB) / 4);

		--proj-maxwidth: 600px;
		--proj-maxfont: 60px;

		--canvas-maxwidth: 1200px;

		min-width: 320px;
	}



/* * * Universal Styles * * */

	body {
		margin: var(--test-nudge);
		font-family: 'COUTUREBold';

		-webkit-transition: background-color 0.5s;
		-moz-transition: background-color 0.5s;
  		transition: background-color 0.5s;
		overflow-y: scroll;
    	scrollbar-width: none; /* Firefox */
    	-ms-overflow-style: none;  /* IE 10+ */
	}

	body::-webkit-scrollbar { /* WebKit */
    	width: 0px;
	}


	/* Frame */
	#top-border, #bottom-border, #left-border, #right-border {
		background-color: white;
		position: fixed;
	}

	#top-border, #bottom-border {
		z-index: 98;
		display: grid;
		align-items: center;
		justify-items: center;
		left: 0; 
		right: 0;
		height: var(--border-TB);
	}
	#top-border {
		grid-template-columns: 1fr;
		top: 0; 
	}
	#bottom-border {
		grid-template-columns: 1fr; 
		bottom: 0;
		font-size: 20px; 
		line-height: 50px;
	}
	#inner-border {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center; 
		width: calc(100vw - 30px);
	}

	#left-border, #right-border {
		z-index: 97;
		top: 0; 
		bottom: -50%;
		width: var(--border-LR);
	}
	#left-border { left: 0; border-right: 4px solid black;}
	#right-border { right: 0; border-left: 4px solid black;}



	#trim-top, #trim-bottom {
		position: fixed;
		z-index: 99;
		left: var(--border-LR);
		width: calc(100% - var(--border-LR) * 2);
		height: var(--border-TB); 
	}

	#trim-top {
		top: 0;
		border-bottom: 4px solid black;
	}

	#trim-bottom {
		pointer-events: none;
		bottom: 0;
		border-top: 4px solid black;
	}

	#logo {
		height: var(--logo-height);
	}

	#work, #about {
		-webkit-transition: color 0.5s;
		-moz-transition: color 0.5s;
  		transition: color 0.5s;
	}


	/* Within Frame */
	.canvas {
		position: relative;
		display: grid;
		color: white;

		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
  		transition: opacity 0.5s;
		margin: var(--border-TB) auto var(--border-TB);
		width: calc(100% - var(--border-LR) * 2);
		max-width: var(--canvas-maxwidth);
	}

	.canvas.fade {
	  opacity: 1;
	}

	.spacer {
		height: 4vh;
	}

	.spacer.large {
		height: 8vh;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a img {
		width: 100%; /* fit image to container */
		display: block; /* remove descender space reserved for inline elements like text */
	}

	a:visited {
		color: black;	
	}

	#text {
		margin-bottom: 8vh;
	}

	.underline.black {
		border-bottom: 2px solid black;
		padding-bottom: 1px;
	}

	.underline.black:hover {
		border-color: white;
	}

	.underline.white {
		border-bottom: 2px solid white;
		padding-bottom: 1px;
	}

	.underline.white:hover {
		border-color: black;
	}

	#links {
		text-align: center;
		font-style: normal;
	}

/*******************************************************************/	

/* * * Mobile Specific Styles * * */

	@media screen and (max-width: 670px) {
		
		.canvas {
			grid-template-columns: 1fr;
		}
	
	}


/* * * Desktop Specific Styles * * */

	@media screen and (min-width: 671px) {

		.canvas {
			grid-template-columns: 1fr 1fr;
		}

	}


/* * * Max Size Styles * * */

	@media screen and (min-width: 1200px) {

		#inner-border {
			width: 1200px;
		}

	}