/* * *Universal Variables * * */
	/*@import url('https://fontlibrary.org/face/couture');*/
	@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i|Volkhov:400,400i');
	/*  font-family: 'Bitter', serif;
		font-family: 'Volkhov', serif;
		font-family: 'Josefin Slab', serif;   */

	@font-face {
		font-family: 'COUTUREBold';
		src: url(../font/couture-bld.otf);
	}

	:root{
		--border-TB: 45px;
		--border-LR: 15px;

		--logo-height: 30px;

		--nav-width: calc(100% - var(--border-LR) * 4);
		--nav-height: calc(100% - var(--border-TB) / 4);

		--proj-maxwidth: 600px;
		--proj-maxfont: 60px;

		--canvas-maxwidth: 1200px;

		min-width: 320px;
	}



/* * * Universal Styles * * */

	body {
		margin: var(--test-nudge);
		font-family: 'COUTUREBold';

		-webkit-transition: background-color 0.75s;
		-moz-transition: background-color 0.75s;
  		transition: background-color 0.75s;
		overflow-y: scroll;
    	scrollbar-width: none; /* Firefox */
    	-ms-overflow-style: none;  /* IE 10+ */
	}

	body::-webkit-scrollbar { /* WebKit */
    	width: 0px;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a img {
		width: 100%; /* fit image to container */
		display: block; /* remove descender space reserved for inline elements like text */
	}

	a:visited {
		color: black;	
	}

	/* Frame */
	#top-border, #bottom-border, #left-border, #right-border {
		background-color: white;
		position: fixed;
		z-index: 98;
	}

	#top-border, #bottom-border {
		display: grid;
		align-items: center;
		justify-items: center;
		left: 0; 
		right: 0;
		height: var(--border-TB);
	}
	#top-border {
		grid-template-columns: 1fr;
		top: 0; 
	}
	#bottom-border {
		grid-template-columns: repeat(5, 1fr); 
		bottom: 0;
		font-size: 20px; 
		line-height: 50px;
	}

	#left-border, #right-border {
		top: 0; 
		bottom: -50%;
		width: var(--border-LR);
	}
	#left-border { left: 0; }
	#right-border { right: 0; }


	#trim-top, #trim-bottom, #trim-left, #trim-right {
		position: fixed;
	}

	#trim-top, #trim-bottom {
		z-index: 99;
		left: var(--border-LR);
		width: calc(100% - var(--border-LR) * 2);
		height: var(--border-TB); 
	}

	#trim-left, #trim-right {
		z-index: 97;
		top: 0;
		width: var(--border-LR);
		height: 150%;
	}

	#trim-top {
		top: 0;
		border-bottom: 4px solid black;
	}

	#trim-bottom {
		pointer-events: none;
		bottom: 0;
		border-top: 4px solid black;
	}

	#trim-left {
		left: 0;
		border-right: 4px solid black;
	}

	#trim-right {
		right: 0;
		border-left: 4px solid black;
	}



	#logo {
		height: var(--logo-height);
	}

	#work {
		grid-column: 2;
	}

	#about {
		grid-column: 4;
	}

	/* Within Frame */
	.canvas {
		position: relative;
		display: grid;
		color: white;

		opacity: 0;
		-webkit-transition: opacity 0.75s;
		-moz-transition: opacity 0.75s;
  		transition: opacity 0.75s;
		top: var(--border-TB);
		/* left: var(--border-LR); */
		margin: 0px auto var(--border-TB);
		width: calc(100% - var(--border-LR) * 2);
		max-width: var(--canvas-maxwidth);
	}

	.canvas.fade {
	  opacity: 1;
	}

	.title {
		margin-top: 4%;
		grid-column: 4 / 11;
		grid-row: 2 / 5;
		z-index: 4;
	}

	

/* * * Mobile Specific Styles * * */

	@media screen and (max-width: 670px) {
		
		/* main */
		#canvas_work {
			grid-template-columns: 1fr;
		}

		.project {
			font-size: 10vw;
		}

		#title {
			font-size: 10vw;
		}

		#year {
			font-size: 6vw;
		}

		/* about */
		#canvas_about {
			grid-template-columns: 1fr;
		}

		#links {
			display: grid;
			grid-template-columns: repeat(15, 1fr);
			align-items: center;
		}

		#headshot {
			border-bottom: 4px solid black;
		}

		#photo {
			grid-column: 1 / 21;
			grid-row: 1 / 21;
			background-color: red;
		}

		#cv {
			grid-column: 3 / 6;
		}

		#linkedin {
			grid-column: 7 / 10;
		}

		#email {
			grid-column: 11 / 14;
		}

		/* project */
		#canvas_project {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
		}

				/* Left Side */
		#description {
			margin: 0px 5% 0px;
			color: black;
			
		}

		#year {
			margin-bottom: 8%;
		}


		/* Right Side */
		#slides {
			display: grid;
			grid-template-columns: 1fr;
			height: calc(100% - 2 * 45px);
			top: 45px;
		}

		#slides a {
			border-top: 4px solid black;
		}

	
	}


/* * * Desktop Specific Styles * * */

	@media screen and (min-width: 671px) {

		/* main */
		#canvas_work {
			grid-template-columns: repeat(2, 1fr);
		}

		.project {
			max-width: var(--proj-maxwidth);
			font-size: 5vw;
		}

		#title {
			font-size: 5vw;
		}

		#year {
			font-size: 3vw;
		}

		/* about */
		#canvas_about {
			grid-template-columns: repeat(2, 1fr);
		}

		#photo {
			grid-column: 3 / 19;
			grid-row: 3 / 19;
			background-color: red;
		}

		#links {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			align-items: center;
		}

		#cv {
			grid-column: 3;
		}

		#linkedin {
			grid-column: 4;
		}

		#email {
			grid-column: 5;
		}

		/* project */
		#canvas_project {
			grid-template-columns: repeat(2, 1fr);
		}

		/* Left Side */
		#description {
			margin: 0px 5% 0px;
			color: black;
			height: calc(100% - 2 * 45px);
			overflow-y: auto;
			scrollbar-width: none; /* Firefox */
	    	-ms-overflow-style: none;  /* IE 10+ */
		}

		#description::-webkit-scrollbar { /* WebKit */
	    	width: 0px;
		}

		#year {
			margin-bottom: 23%;
		}


		/* Right Side */
		#slides {
			display: grid;
			/* border-left: 4px solid black; */
			/* border-right: 4px solid black; */
			grid-template-columns: 1fr;
			height: calc(100% - 2 * 45px);
			top: 45px;

			overflow-y: auto;
			scrollbar-width: none; /* Firefox */
	    	-ms-overflow-style: none;  /* IE 10+ */
		}

		#slides::-webkit-scrollbar { /* WebKit */
	    	width: 0px;
		}

		#slides a {
			margin-bottom: 1%;
			margin-right: 5%;  
			/* border-bottom: 4px solid black; */
		}

	}

	@media screen and (min-width: 1200px) {
		.project {
			font-size: var(--proj-maxfont);
		}

		#title {
			font-size: var(--proj-maxfont);
		}

		#year {
			font-size: 36px;
		}
	}