	body {
		background-color: yellow;
	}

	p {
		font-family: 'Bitter', serif;
		font-style: italic;
	}

	#canvas_project {
		height: 88vh;
	}

	#title {
		line-height: 100%;
	}

	#year {
		margin-top: 2%;
	}

	.spacer {
			height: 4vh;
	}


