	body {
		background-color: yellow;
		-webkit-transition: background-color 1s;
		-moz-transition: background-color 1s;
  		transition: background-color 1s;
	}

	p {
		font-family: 'Bitter', serif;
		font-style: italic;
	}

	#canvas_project {
		height: calc(100% - 2 * 45px);
	}

	#title {
		line-height: 100%;
	}

	#year {
		margin-top: 2%;
	}

	.spacer {
			height: 4vh;
	}


