	body {
		background-color: rgba(255,25,25,1);
	}

	#work {
		color: rgba(255,25,25,1);
	}

	.project {
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(20, 1fr);
		max-width: var(--proj-maxwidth);
		line-height: 100%;
		justify-self: center;
	}


	.year {
		margin-top: 4%;
		grid-column: 11 / 18;
		grid-row: 18 / 21;
		justify-self: right;
		z-index: 4;
	}

	.pic_link {
		grid-column: 3 / 19;
		grid-row: 3 / 19;
		z-index: 3;
	}

/*******************************************************************/

/* * * Mobile Specific Styles * * */

	@media screen and (max-width: 670px) {

		.project {
			font-size: 10vw;
		}

		.title.one {
			text-shadow: 0vw 10vw rgba(255,25,25,1);
		}

		.title.two {
			text-shadow: 0vw 20vw rgba(255,25,25,1);
		}

		.title.three {
			text-shadow: 0vw 30vw rgba(255,25,25,1);
		}

		.year {
			text-shadow: 0vw -10vw rgba(255,25,25,1);
		}

	}


/* * * Desktop Specific Styles * * */

	@media screen and (min-width: 671px) {

		.project {
			max-width: var(--proj-maxwidth);
			font-size: 5vw;
		}

		.title.one {
			text-shadow: 0vw 5vw rgba(255,25,25,1);
		}

		.title.two {
			text-shadow: 0vw 10vw rgba(255,25,25,1);
		}

		.title.three {
			text-shadow: 0vw 15vw rgba(255,25,25,1);
		}

		.year {
			text-shadow: 0vw -5vw rgba(255,25,25,1);
		}

	}


/* * * Max Size Styles * * */

	@media screen and (min-width: 1200px) {

		.project {
			font-size: var(--proj-maxfont);
		}

		.title.one {
			text-shadow: 0vw var(--proj-maxfont) rgba(255,25,25,1);
		}

		.title.two {
			text-shadow: 0vw calc(var(--proj-maxfont) * 2) rgba(255,25,25,1);
		}

		.title.three {
			text-shadow: 0vw calc(var(--proj-maxfont) * 3) rgba(255,25,25,1);
		}

		.year {
			text-shadow: 0vw calc(0px - var(--proj-maxfont)) rgba(255,25,25,1);
		}

	}
