	body {
		background-color: rgba(255,75,75,1);
	}

	#work {
		color: rgba(275,75,75,1);
	}

	#scrollpane {
		position: fixed;
		top: var(--border-TB);
		right: var(--border-LR);
		bottom: var(--border-TB);
		left: var(--border-LR);
	}

	#centerarrow {
		position: fixed;
		display: block;
		background-color: blue;
		height: 50px;
		width: 50px;
  		bottom: 10%;
  		left: 50%;
    	transform: translate(-50%, 0);

    	-webkit-transition: 0.5s ease;
  		transition: 0.5s ease;
	}

	.project {
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(20, 1fr);
		max-width: var(--proj-maxwidth);
		line-height: 100%;
		justify-self: center;
	}
	
	
	.title, .year {
		margin-top: 1%;
	}
	

	.title {
		pointer-events: none;
		grid-column: 4 / 16;
		grid-row: 2 / 5;
		z-index: 4;
	}

	.year {
		grid-column: 11 / 18;
		grid-row: 18 / 21;
		justify-self: right;
		z-index: 4;
	}

	.pic_link {
		grid-column: 3 / 19;
		grid-row: 3 / 19;
		z-index: 3;
	}

/*******************************************************************/

/* * * Mobile Specific Styles * * */

	@media screen and (max-width: 670px) {

		.project {
			font-size: 10vw;
		}

		.title {
			text-shadow: -0.6vw 0.8vw rgba(255,75,75,1);
		}

		.year {
			text-shadow: 0.6vw -0.8vw rgba(275,75,75,1);
		}

		#downarrow {
			display: none;
		}

	}


/* * * Desktop Specific Styles * * */

	@media screen and (min-width: 671px) {

		.project {
			max-width: var(--proj-maxwidth);
			font-size: 5vw;
		}

		.title {
			text-shadow: -0.3vw 0.4vw rgba(255,75,75,1);
		}

		.year {
			text-shadow: 0.3vw -0.4vw rgba(255,75,75,1);
		}

	}


/* * * Max Size Styles * * */

	@media screen and (min-width: 1200px) {

		.project {
			font-size: var(--proj-maxfont);
		}

		.title {
			text-shadow: -3.6px 4.8px rgba(255,75,75,1);
		}

		.year {
			text-shadow: 3.6px -4.8px rgba(255,75,75,1);
		}

	}
